.footer {
    background-color: #253138;
    padding: 80px 0;
    text-align: center;
  }
  
  .list-inline {
    list-style: none;
    padding-left: 0px;
  }
  
  .list-inline > li {
    display: inline-block;
  }
  
  .social-icon {
    font-size: 50px;
    color: rgb(200,200,200,200);
    margin: 15px 15px;
  }
  
  .social-icon:hover {
    color: rgb(170,170,170,170);
  }
  
  .footer p {
    color: #AAAAAA;
  }
  
  .fas {
    color: #3a86ff;
  }
  